*{ padding: 0; margin: 0; box-sizing: border-box;}
html{
    font-size: 62.5%;
    height: 100%;
    }
body{
		display: flex;
		flex-direction: column;
		height: 100vh;
		background: linear-gradient(90deg, rgba(4,0,36,1) 0%, rgba(255,255,255,1) 0%, rgba(35,84,221,1) 0%, rgba(255,255,255,1) 0%, rgba(67,216,247,1) 100%);
	}
.row{
		margin: 0;
	}
.main_menu{
    background-color: #1e272e;
}
.navi a{
	text-decoration: none;
	color: #fff;
	font-size: 1.5rem;
}
.navi a:hover{
	color: rgb(47, 93, 245);
}
.navbar-toggler-icon{
    background-color: rgb(241, 233, 233);
}

/* home page */
.main_header_left{
    height:70rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.main_header_left p{ font-size: 2rem; margin: 1rem 4rem 0; }
.main_header_left h1{
    font-size: 4rem;
    margin: 1rem 4rem 0;
    text-transform: capitalize;
}
.main_header_right{
    height:70rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.main_header_right figure img{
    filter: drop-shadow(0 0.5rem 1rem rgba(0,0,0,0.3));
}
/* About page */
.emp-profile{
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	color: #999;
	border-radius: .3rem;
	margin-bottom: 1.5rem;
	background: #f2f3f7;
	padding: 3rem;
	font-size: 1.4rem;
}
.profile-head{font-size: 1.5rem;}
.profile-work{
	font-size: 1.6rem;
}
.profile-work a{
	text-decoration: none;
	color: #5cb85c;
}

#profile,#home{
	font-size: 1.5rem;
}
/* register css */
.bg-light {
    background-color: #ffff !important;
}
.form-control {
	height: 40px;
	box-shadow: none;
	color: #969fa4;
}
.form-control:focus {
	border-color: #5cb85c;
}
.form-control, .btn {        
	border-radius: 3px;
}
.signup-content{
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	color: #999;
	border-radius: .3rem;
	margin-bottom: 1rem;
	background: #f2f3f7;
}
.signup-image{
	padding-top: 1.5rem;
}
.signup-image-link{
	text-decoration: none;
	color: seagreen;
	margin-left: 2rem;
}
.signup-image-link:hover{ 
	color:red;
 }
.signup-form {
	width: auto;
	margin: 0 auto;
	/* padding: 30px 0; */
  	font-size: 1.5rem;
}
.signup-form h2 {
	color: #636363;
	margin: 0 0 15px;
	position: relative;
	text-align: center;
}
.signup-form h2:before { left: 0; } 

.signup-form h2:after {right: 0;}

.signup-form .hint-text {
	color: #999;
	margin-bottom: 30px;
	text-align: center;
}
.signup-form form {
	color: #999;
	border-radius: 3px;
	margin-bottom: 15px;
	background: #f2f3f7;
	padding: 30px;
}
.signup-form .form-group {
	margin-bottom: 20px;
}
.signup-form input[type="checkbox"] {
	margin-top: 3px;
}
.signup-form .btn {        
	font-size: 16px;
	font-weight: bold;		
	min-width: 140px;
	outline: none !important;
}
.signup-form .row div:first-child {
	padding-right: 10px;
}
.signup-form .row div:last-child {
	padding-left: 10px;
}    	
.signup-form a {
	color: rgb(88, 86, 86);
	text-decoration: underline;
}
.signup-form a:hover {
	text-decoration: none;
}
.signup-form form a {
	color: #5cb85c;
	text-decoration: none;
}	
.signup-form form a:hover {
	text-decoration: underline;
} 

/* Button */
.form-button input{
	background-color: rgb(0, 132, 255);
	color: black;
	padding: .2rem 1.5rem;
	font-size: 1.6rem;
	position: relative;
	overflow: hidden;
}
.form-button input:hover{
	background-color: black;
	color: #fff;
	transition: all 0.5s;
}
.form-button input::before{
	content: '';
	width: 100%;
	height: 40%;
	background-color: #fff;
	position: absolute;
	top: 0%;
	left: 0%;
	transform: translateX(-100%)rotate(45deg);
	transition: all 0.6s;
}
.form-button input:hover::before{
	transform: translateX(100%)rotate(45deg);
}

/* contact */
.contact_form_button button{
	font-family: "Maven Pro",sans-serif;
	color: #fff;
	font-weight: 400;
	font-size: 14px;
	text-decoration: none;
	text-transform: uppercase;
	background: #507cc0;
	display: inline-block;
	padding: 10px 25px;
	border: 2px solid transparent;
	border-radius: 40px;
	transition: 0.2s all;
	-webkit-transition: 0.2s all;
}
.contact_form_button button:hover{
	background: #fff;
	border-color: teal;
	color: teal;
}
.contact_form_title{
	font-size: large;
	text-align: center;
	font-weight: bolder;
}
#contact_form_name,.contact_form_text{
	font-size: 1.5rem;
}
#contact_form{
	margin-top: .8rem;
}
.contact_form_name{
	display: flex;
	justify-content: start;
	align-items: center;
	flex-direction: column;
}
.contact_info_item{
	width: auto;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	border-radius: .3rem;
	margin-bottom: 1.5rem;
	background: #f2f3f7;
	padding: 10px;
}
.content_form_container{
	width: auto;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	border-radius: .3rem;
	margin-bottom: 1.5rem;
	background: #f8f8f8;
	padding: 10px;
}
.card-title{
	font-size: 1.5rem;
}
.card-text{
	font-size: 1.4rem;
}
.social-btn .btn {
    border: none;
    margin: 10px 3px 0;
    opacity: 1;
}
.social-btn .btn:hover {
    opacity: 0.9;
}
.social-btn .btn-secondary, .social-btn .btn-secondary:active {
    background: #507cc0 !important;
}
.social-btn .btn-info, .social-btn .btn-info:active {
    background: #64ccf1 !important;
}
.social-btn .btn-danger, .social-btn .btn-danger:active {
    background: #df4930 !important;
}
.or-seperator {
    margin-top: 20px;
    text-align: center;
    border-top: 1px solid #ccc;
}
.or-seperator i {
    padding: 0 10px;
    background: #f7f7f7;
    position: relative;
    top: -11px;
    z-index: 1;
}   
/* About css */


h2 {
	color: #333;
	text-align: center;
	text-transform: uppercase;
	font-family: "Roboto", sans-serif;
	font-weight: bold;
	position: relative;
	margin-top: 1em!important;
}
.h2{
	margin-top: 1em!important;
}
h2::after {
	content: "";
	width: 100px;
	position: absolute;
	margin: 0 auto;
	height: 3px;
	background: #ffdc12;
	left: 0;
	right: 0;
	bottom: -10px;
}
/* 404 Note Found */
#notfound{
	position: relative;
	height: 100vh;
}
#notfound .notfound{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
}
.notfound{
	max-width: 920px;
	width: 100%;
	line-height: 1.4;
	text-align: center;
	padding-left: 15px;
	padding-right: 15px;
}
.notfound .notfound-404{
	position: absolute;
	height: 100px;
	top: 0;
	left: 50%;
	transform: translate(-50%);
	-webkit-transform: translate(-50%);
	-ms-transform: translate(-50%);
	z-index: -1;
}
.notfound .notfound-404 h1{
	font-family: "Maven Pro",sans-serif;
	color: #ececec;
	font-weight: 900;
	font-size: 276px;
	margin: 0px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
}
.notfound h2{
	font-family: "Maven Pro",sans-serif;
	color: #000;
	font-weight: 900;
	font-size: 46px;
	margin: 0px;
	text-transform: uppercase;
}
.notfound p{
	font-family: "Maven Pro",sans-serif;
	color: #000;
	font-weight: 400;
	font-size: 16px;
	margin-top: 15px;
	text-transform: uppercase;
}
.notfound a{
	font-family: "Maven Pro",sans-serif;
	color: #fff;
	font-weight: 400;
	font-size: 14px;
	text-decoration: none;
	text-transform: uppercase;
	background: #507cc0;
	display: inline-block;
	padding: 16px 38px;
	border: 2px solid transparent;
	border-radius: 40px;
	transition: 0.2s all;
	-webkit-transition: 0.2s all;
}
.notfound a:hover{
	background: #fff;
	border-color: teal;
	color: teal;
}
/* Footer */
footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgb(27, 26, 26);
}
footer p{
    margin: 0;
    text-align: center;
    color: #fff;
    line-height: 5rem;
    font-size: 1.5rem;
}
@media (max-width:375px) {
    .notfound .notfound-404 h1{
		font-size: 162px;
	}
	.notfound h2{font-size: 26px;}
	.main_header_left{
		height:50rem;
	}
	.main_header_left p{ font-size: 1rem; margin: .5rem 2rem 0; }
	.main_header_left h1{
		font-size: 3rem;
		margin: .5rem 2rem 0;
	}
	.main_header_right{
		height:50rem;
		
	}
	.main_header_right figure img{
		filter: drop-shadow(0 0.5rem 1rem rgba(0,0,0,0.3));
	}

}
@media (max-width:480px){
	.notfound .notfound-404 h1{
		font-size: 162px;
	}
	.notfound h2{font-size: 26px;}
}
@media (max-width:768px) {
    .main_header_left{
        height: auto;
        margin: 5rem 0;
    }
    .main_header_right{
        height: auto;
        margin-top: 3rem 0;
    }
}

/* .carousel {
	width: 650px;
	margin: 0 auto;
	padding-bottom: 50px;
}
.carousel .carousel-item {
	color: #999;
	font-size: 14px;
	text-align: center;
	overflow: hidden;
	min-height: 340px;
	margin-top: 2em;
}
.carousel .carousel-item a {
	color: #eb7245;
}
.carousel .img-box {
	width: 145px;
	height: 145px;
	margin: 0 auto;
	border-radius: 50%;
}
.carousel .img-box img {
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 50%;
}
.carousel .testimonial {	
	padding: 30px 0 10px;
}
.carousel .overview {	
	text-align: center;
	padding-bottom: 5px;
}
.carousel .overview b {
	color: #333;
	font-size: 15px;
	text-transform: uppercase;
	display: block;	
	padding-bottom: 5px;
}
.carousel .star-rating i {
	font-size: 18px;
	color: #ffdc12;
}
.carousel-control-prev, .carousel-control-next {
	width: 30px!important;
	height: 30px!important;
	border-radius: 50%!important;
	background: #999!important;
	text-shadow: none!important;
	top: 4px!important;
}
.carousel-control-prev i, .carousel-control-next i {
	font-size: 20px!important;
	margin-right: 2px!important;
}
.carousel-control-prev {
	left: auto!important;
	right: 40px!important;
}
.carousel-control-next i {
	margin-right: -2px!important;
}
.carousel .carousel-indicators {
	bottom: 15px!important;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 11px!important;
	height: 1px!important;
	margin: 1px 5px!important;
	border-radius: 50%!important;
}
.carousel-indicators li {
	background: #e2e2e2!important;
	border: none!important;
}
.carousel-indicators li.active {		
	background: #888!important;		
} */